.header-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.concert-logo img{
    width: 120px;
}
.foundation-logo img{
    width: 160px;
}

.header-info{
    text-align: center;
}
.header-info h1,h2,h3,p{
    margin: 0;
}
.header-info h1{
    color: orangered;
}
.header-info h3{
    color: #383838;
    font-style: italic;
}
.header-info h2{
    color: darkslategray;
}
.header-info p{
    font-size: 13px;
    font-style: italic;
    color: gray;
}